* html body {
  max-width: 100%;
  overflow-x: hidden;
}
/* Comienza Intro*/
.head {
  position: relative;
}
.intro {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffff;
  transition: 1s;
}

.logo-header {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: #020202;
}

.logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.intro h1 img {
  width: 20%;
}

.h1-aptum {
  width: 2vh;
}
/* Termina Intro*/
/* Comienza Nav Bar*/
.container-fluid a img {
  width: 3rem;
}
.navbar {
  position: fixed;
  top: 1rem;
  margin-left: 30%;
  width: 40%;
  border-radius: 15px;
}

.nav-link {
  font-size: 1rem;
}

.head-img img {
  position: relative;
  z-index: -1;
  margin-top: -5rem;
  width: 90%;
  border-radius: 0 0 40vw 0;
}
/* Termina Nav Bar*/

/*Comienza Galeria Productos*/

div.productos {
  position: relative;
  top: -18rem;
  padding: 3rem;
  width: 100%;
  height: 80vh;
  background-color: #ffe194;
  border-radius: 10rem 0 10rem 0;
}

.img-product {
  margin-top: 20rem;

  background-repeat: no-repeat;
  background-size: cover;
}
div.productos h1 {
  width: 80%;
  margin: -1rem 0 5rem 20rem;

  color: #000000;
  font-family: sans-serif;
}
.productos button {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 2rem;
  right: 2rem;
  font-size: 18px;
  border-radius: 2rem;
  border: none;
  background-color: rgb(252, 248, 248);
}
.productos button a {
  outline: none;
  text-decoration: none;
  width: 100%;
  margin-right: 0.625%;
  text-align: center;
  line-height: 1;
  color: black;
  font-size: 25px;
  font-family: sans-serif;
}
.productos div button:hover {
  background-color: #4caf50;
  color: black;
}

.boton-product {
  color: black;
}

div.galeria img {
  width: 100%;
  height: 15rem;
}

div.desc {
  padding: 15px;
  text-align: left;
}
/* Parte Fade imagen comprar*/
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4caf50;
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  font-weight: bold;
}
/*Termina Productos*/
/*Comienza Sobre la empresa aptum*/
.aptum {
  position: absolute;

  margin-top: -15rem;
}
.slideshow-container {
  top: 2rem;
  position: relative;
  margin: auto;
}
.slideshow-container img {
  border-radius: 10rem 0 10rem 0;
}

.mision-aptum-1 {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  position: relative;
  z-index: -1;
  top: -60rem;
  height: 30px;
  width: 30px;
  margin: 0 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.fades {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.aptum-img h1 {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 50px;
  opacity: 1 !important;
  top: -50rem;
  z-index: -11;
  margin-left: 65rem;
}
.aptum-fondo {
  padding: 0 0 0 0;
  margin: 0 0 0 47.5rem;
  position: absolute;
  z-index: -11;
  top: 0rem;
  width: 50%;
  height: 53.5rem;
  background-color: rgb(0, 0, 0);
  opacity: 0.1;
  border-radius: 0 0 10rem 0;
}
.mision-ap h1 {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 50px;
  opacity: 1 !important;
  top: -50rem;
  z-index: 1;
  margin-left: 65rem;
}
.mision-ap p {
  position: absolute;
  margin-left: 55rem;
  top: 10rem;
  width: 35rem;
  font-size: 30px;
  text-align: justify;
  color: rgb(255, 255, 255);
  z-index: 1;
}
.fondo-aptum {
  padding: 0 0 0 0;
  margin: 0 0 0 47.5rem;
  position: absolute;
  top: 0rem;
  width: 50%;
  height: 53.5rem;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  border-radius: 0 0 10rem 0;
}
.mision-apv h1 {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 50px;
  opacity: 1 !important;
  top: -50rem;
  z-index: 1;
  margin-left: 65rem;
}
.mision-apv p {
  position: absolute;
  margin-left: 55rem;
  top: 10rem;
  width: 35rem;
  font-size: 30px;
  text-align: justify;
  color: rgb(255, 255, 255);
  z-index: 1;
}
.fondo-aptumv {
  padding: 0 0 0 0;
  margin: 0 0 0 47.5rem;
  position: absolute;
  top: 0rem;
  width: 50%;
  height: 53.5rem;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  border-radius: 0 0 10rem 0;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
/*Termina Sobre la empresa aptum*/
/*Comienza Equipo Aptum*/

.container-equipo {
  position: relative;
  top: 45rem;
}

.equipoAptum {
  width: 100%;
  position: absolute;
  padding: 15px;
  margin-top: 0;
  text-align: center;
}

.our-team {
  display: inline-block;
  width: 20%;
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin-top: 2rem;
  margin-left: 3rem;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #ffe867;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffe867;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #ffe867;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}
.our-team .social a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #ffe867;
  background-color: #f7f5ec;
}

/* Tarjeta Diferente Color*/

.our-team-2 {
  display: inline-block;
  width: 20%;
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin-top: 0;
  margin-left: 3rem;
}

.our-team-2 .picture-2 {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team-2 .picture-2::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #a5ecd7;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team-2:hover .picture-2::before {
  height: 100%;
}

.our-team-2 .picture-2::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #a5ecd7;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team-2 .picture-2 img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team-2:hover .picture-2 img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team-2 .title-2 {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team-2 .social-2 {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #a5ecd7;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team-2:hover .social-2 {
  bottom: 0;
}

.our-team-2 .social-2 li {
  display: inline-block;
}
.our-team-2 .social-2 a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team-2 .social-2 li a:hover {
  color: #a5ecd7;
  background-color: #f7f5ec;
}

/*Termina Equipo Aptum*/

/* Vista para Dispositivos*/
@media only screen and (max-width: 800px) {
  /* Extra small devices (phones, 800px and down) */
  /* For tablets: */
  .navbar {
    position: fixed;
    top: 0;
    margin-left: 0;
    width: 100%;
    border-radius: 15px;
  }
  .navbar-nav a {
    text-align: center;
  }
  .head-img img {
    position: absolute;
    z-index: -1;
    margin-top: 0rem;
    width: 100%;
    border-radius: 0;
  }
  /*Inicia Productos*/
  div.productos {
    position: relative;

    height: 200vh;
    /*background-color: #ffe194;*/
    border-radius: 0 0 0 0;
  }
  .img-product {
    position: absolute;
    margin-top: 30rem;
    width: 100%;

    background-repeat: no-repeat;
    background-size: cover;
  }
  div.productos h1 {
    width: 80%;
    padding: 1rem;
    margin-left: 20rem;
    color: #000000;
    font-family: sans-serif;
  }

  /*Finaliza Productos*/
  /*Comienza Empresa Aptum*/
  .aptum {
    position: absolute;
    background-color: white;

    margin-top: 10rem;
  }
  .slideshow-container {
    top: 0rem;
    position: relative;
    margin: auto;
  }
  /*Termina Empresa Aptum*/
}
@media only screen and (max-width: 500px) {
  /*Inicia Productos*/
  .products {
    width: 100%;
    overflow-x: hidden;
  }
  div.productos {
    position: relative;
    padding: 0;
    width: 100%;
    height: 180vh;
    background-color: #ffe194;
    border-radius: 0 0 0 0;
  }
  div.productos h1 {
    width: 80%;
    padding: 2rem 0 0 0;

    margin-left: 5rem;
    color: #000000;
    font-family: sans-serif;
  }
  .img-product {
    position: absolute;
    margin-top: 15em;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  div.galeria {
    position: relative;
    margin-left: 2rem;
    margin-top: 20px;
    float: left;
    width: 45vh;
  }
  .productos button {
    position: absolute;

    top: 63rem;
    right: 6.5rem;
  }

  /*Finaliza Productos*/
  /*Comienza Equipo aptum*/
  .aptum {
    top: 88rem;
    width: 25rem;
    margin: 0;
    height: 30%;
    position: absolute;
    background-color: #313131;
    border-radius: 15px 15px 14px 15px;
  }
  .slider {
    height: 200px;
    background: url(./images/fondo2-head.jpeg);
    background-size: cover;
    animation: slide 10s infinite;
  }
  @keyframes slide {
    25% {
      background: url(./images/fondo2-head.jpeg);
      background-size: cover;
    }
    50% {
      background: url(./images/fondo3-head.jpeg);
      background-size: cover;
    }
    75% {
      background: url(./images/fondo-head.jpeg);
      background-size: cover;
    }
  }
  /*Termina Equipo aptum*/
}
@media only screen and (max-width: 380px) {
  /*Inicia Productos*/
  div.productos {
    top: -1.5rem;
    height: 200vh;
  }
  div.productos h1 {
    width: 80%;
    padding: 2rem 0 0 0;
    margin-left: 4rem;
    text-align: unset;
  }
  .img-product {
    position: absolute;
    margin-top: 15em;
  }
  div.galeria {
    position: relative;
    margin-left: 2rem;
    margin-top: 20px;
    float: left;
    width: 45vh;
  }
  .productos button {
    position: absolute;

    top: 62rem;
    right: 5.5rem;
  }
  /*Comienza Empresa Aptum*/
  .aptum {
    position: absolute;
    background-color: white;

    margin-top: 10rem;
  }
  .slideshow-container img {
    border-radius: 0 0 0 0;
  }
  .slideshow-container {
    top: -1rem;
    position: relative;
    margin: auto;
  }

  /*Termina Empresa Aptum*/
  /*Comienza Equipo Aptum*/
  .container-equipo {
    top: 109rem;
  }
  .our-team {
    display: inline-block;
    width: 80%;
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin-top: 2rem;
    margin-left: 0rem;
  }
  .our-team-2 {
    display: inline-block;
    width: 80%;
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin-top: 0;
    margin-left: 0rem;
  }

  /*Termina Equipo Aptum*/
}

@media only screen and (min-width: 1100px) {
  .navbar {
    position: fixed;
    top: 1rem;
    margin-left: 25%;
    width: 45%;
    border-radius: 15px;
  }
  .nav-link {
    font-size: 1rem;
  }
  /*Comienza Productos*/
  div.productos {
    position: relative;
    width: 100%;

    /* background-color: #ffe194;*/
  }
  div.galeria {
    position: relative;
    margin-left: 70px;
    margin-top: 0;
    float: left;
    width: 49vh;
  }
  /*Termina Productos*/
}

@media only screen and (min-width: 1600px) {
  .navbar {
    position: fixed;
    top: 1rem;
    margin-left: 25%;
    width: 45%;
    border-radius: 15px;
  }
  .nav-link {
    font-size: 1rem;
  }
  /*Comienza Productos*/
}

@media only screen and (min-width: 1800px) {
  /*Comienza Nav bar*/
  .navbar {
    position: fixed;
    top: 1rem;
    margin-left: 25%;
    width: 45%;
    border-radius: 15px;
    text-align: center;
  }
  .container-fluid a img {
    width: 5rem;
  }
  .navbar-nav a {
    margin-left: 2rem;
  }
  .nav-link {
    font-size: 1.2rem;
  }
  .img-product {
    margin-top: 80vh;

    background-repeat: no-repeat;
    background-size: cover;
  }
  /*Termina Nav bar*/
  /*Inicia Productos*/

  div.productos {
    top: -50rem;
    height: 55vh;
  }
  /*Finaliza Productos*/
  /*Comienza Sobre la empresa aptum*/
  .aptum {
    position: absolute;

    margin-top: -48rem;
  }
  .mision-ap h1 {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 50px;
    opacity: 1 !important;
    top: -60rem;
    z-index: 1;
    margin-left: 85rem;
  }
  .mision-ap p {
    position: absolute;
    margin-left: 65rem;
    top: 15rem;
    width: 50rem;
    font-size: 40px;
    text-align: justify;
    color: rgb(255, 255, 255);
    z-index: 1;
  }
  .fondo-aptum {
    padding: 0 0 0 0;
    margin: 0 0 0 59.4rem;
    position: absolute;
    top: 0rem;
    width: 50%;
    height: 67rem;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    border-radius: 0 0 10.9rem 0;
  }
  .fondo-aptumv {
    padding: 0 0 0 0;
    margin: 0 0 0 59.4rem;
    position: absolute;
    top: 0rem;
    width: 50%;
    height: 67rem;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    border-radius: 0 0 10.9rem 0;
  }
  .mision-apv h1 {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 50px;
    opacity: 1 !important;
    top: -60rem;
    z-index: 1;
    margin-left: 85rem;
  }
  .mision-apv p {
    position: absolute;
    margin-left: 65rem;
    top: 15rem;
    width: 50rem;
    font-size: 40px;
    text-align: justify;
    color: rgb(255, 255, 255);
    z-index: 1;
  }

  /*Termina Sobre la empresa aptum*/
  /*Comienza Equipo Aptum*/
  .container-equipo {
    top: 25rem;
  }
  /*Termina Equipo Aptum*/
}
